@model Tuple<IFormFile, SafeSearchAnnotation>
@{
    ViewData["Title"] = "Naughty Image Checker";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@if (null == Model) {
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Naughty">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload a file using this form.  I'll report if they're naughty.</p>
                <input type="file" name="files"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p></p>
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
} else {
    <ul>
        <li>@Model.Item1.FileName</li>
        <li>Adult: @Model.Item2.Adult</li>
        <li>Medical: @Model.Item2.Medical</li>
        <li>Spoof: @Model.Item2.Spoof</li>
        <li>Violence: @Model.Item2.Violence</li>
    </ul>
}

